:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden; /* Evitar la barra de desplazamiento en la página principal */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  color: rgb(56, 56, 56);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #1a1a1a;
  margin: 2px;
}

/* App.css */
.app-container {
  display: flex; /* Usar flexbox para dividir la pantalla */
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

.menu-container {
  background-color:rgb(0, 255, 234); /* Color de fondo para el Menu */
  height: 100vh; /* Altura completa de la ventana */
  width: 280px; /* Ancho fijo para el menú */
  position: fixed; /* Fijar el menú en su posición */
  overflow-y: auto; /* Permitir desplazamiento si el contenido es largo */
}

.content-container {
  background-color:rgb(156, 156, 156); /* Color de fondo para el contenido */
  height: 100vh; /* Altura completa de la ventana */
  margin-left: 280px; /* Espacio entre el menú y el contenido (ajustado para el ancho del menú) */
  overflow-y: auto; /* Permitir desplazamiento si el contenido es largo */
  flex: 1; /* Permite que el contenedor de contenido ocupe el espacio restante */
  padding: 20px; /* Espaciado interno */
  border: 0px solid #e8e8e8; /* Borde alrededor del contenido */
}

.card-container {
  display: grid; /* Usar grid para el diseño */
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Crear columnas automáticas */
  gap: 20px 10px; /* Espaciado entre filas y columnas (20px entre filas, 10px entre columnas) */
  margin-top: 20px; /* Espaciado superior para separar del contenido anterior */
}



/* Estilos para la barra de desplazamiento en el menú */
.menu-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.menu-container::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la pista de la barra de desplazamiento */
}

.menu-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados para el "pulgar" */
}

.menu-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* Color del "pulgar" al pasar el mouse */
}

/* Estilos para la barra de desplazamiento en el contenido */
.content-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.content-container::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la pista de la barra de desplazamiento */
}

.content-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados para el "pulgar" */
}

.content-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* Color del "pulgar" al pasar el mouse */
}