@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  overflow: hidden; /* Evitar la barra de desplazamiento en la página principal */

  background: linear-gradient(-45deg,rgb(46, 168, 199),rgb(6, 70, 153),rgb(91, 230, 255),rgb(49, 236, 193));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #1a1a1a;
  margin: 2px;
}

span{
  color: rgb(243, 243, 243);
}

/* App.css */
.app-container {
  display: flex; /* Usar flexbox para dividir la pantalla */
}

.bar-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed; /* Fijar la barra en la parte superior */
  top: 66px; /* Ajusta esta propiedad para bajar la barra desde la parte superior */
  left: 67px; /* Ajusta esta propiedad para mover la barra hacia la derecha */
  width: calc(100% - 400px); /* Ancho igual a la suma de los dos contenedores menos el margen izquierdo */
  height: 110px; /* Altura de la barra */
  background-color: rgb(56, 84, 126); /* Color de fondo de la barra */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  display: flex; /* Usar flexbox para alinear los elementos dentro de la barra */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 0 20px; /* Espaciado horizontal */
}

@media (min-width: 1200px) { /* Ajusta el valor según tus necesidades */
  .bar-container {
    width: 40%; /* Ancho para pantallas grandes */
  }
}

.menu-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgb(56, 84, 126);
  width: 300px; /* Ancho fijo para el menú */
  position: fixed; /* Fijar el menú en su posición */
  overflow-y: auto; /* Permitir desplazamiento si el contenido es largo */
  overflow-x: hidden; /* Ocultar el desbordamiento horizontal */
  box-sizing: border-box; /* Incluir padding y borde en el ancho total */
  margin-left: 60px; /* Separador de 20px a la izquierda */
  margin-top: 60px; /* Separación desde la barra */
  height: calc(94.9vh - 57px); /* Ajustar la altura para que no se superponga con la barra */
}

.user-container {
  width: 300px; /* Ancho fijo para el menú */
  margin-right: 20px; /* Espacio entre el user-container y el content-container-title */
}

.content-container-title {
  padding: 5px;
}

 .content-container-title h1 {
  color: rgb(80, 246, 255);
  margin-top: 10px; /* Ajusta el margen superior para mover el h1 hacia abajo */
}

 .content-container-title p {
  padding-left: 5px;
  color: rgb(221, 221, 221);
  margin-top: 0px; /* Ajusta el margen superior para mover el p hacia arriba */
}

.content-container {
  height: calc(87.1vh - 57px); /* Altura total del contenedor */
  border-bottom-right-radius: 10px; /* Esquina redondeada inferior derecha */
  border-top-right-radius: 10px; /* Esquina redondeada superior derecha */
  background: linear-gradient(135deg, rgb(56, 84, 126) 50%, rgb(6, 70, 153) 100%);
  margin-left: 360px; /* Espacio entre el menú y el contenido (ancho del menú + separador de 20px) */
  margin-right: 50px; /* Separador de 20px a la derecha */
  margin-top: 150px; /* Separación desde la barra */
  overflow-y: auto; /* Permitir desplazamiento si el contenido es largo */
  flex: 1; /* Permite que el contenedor de contenido ocupe el espacio restante */
}

.card-container {
  padding: 20px; /* Espaciado interno */
  padding-left: 40px;
  display: grid; /* Usar grid para el diseño */
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Crear columnas automáticas */
  gap: 20px 10px; /* Espaciado entre filas y columnas (20px entre filas, 10px entre columnas) */
  margin-top: 20px; /* Espaciado superior para separar del contenido anterior */
}

/* Estilos para la barra de desplazamiento en el contenido */
.content-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.content-container::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la pista de la barra de desplazamiento */
}

.content-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados para el "pulgar" */
}

.content-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* Color del "pulgar" al pasar el mouse */
}