.card {
    width: 180px; /* Ancho del contenedor */
    height: 180px; /* Altura del contenedor */
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(177, 177, 177);
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave para el escalado y el color de fondo */
    cursor: pointer; /* Cambiar el cursor a puntero */
}

.card:hover {
    transform: scale(1.05); /* Escalar la tarjeta al pasar el cursor */
}

.card-background {
    height: 100px;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar el título y el contenido */
    align-items: flex-start; /* Alinear a la izquierda */
    justify-content: center;
    color: rgba(32, 32, 32, 0.89); /* Color del texto */
    padding: 10px; /* Espaciado interno */
}

.card-title {
    color: rgba(32, 32, 32, 0.89);
    font-size: 20px; /* Tamaño de fuente del título */
    text-align: center;
}

.card-content {
    position: absolute; /* Permite que el contenido se superponga */
    bottom: 15px; /* Ajusta la posición desde la parte inferior */
    left: 10px; /* Ajusta la posición desde la izquierda */
    color: rgba(32, 32, 32, 0.89);
    font-size: 14px; /* Tamaño de fuente del contenido */
    text-align: left; /* Alinear el texto a la izquierda */
}

.card-category {
    position: absolute; /* Permite que el contenido se superponga */
    bottom: 0px; /* Ajusta la posición desde la parte inferior */
    left: 10px; /* Ajusta la posición desde la izquierda */
    color: rgba(44, 44, 44, 0.89); /* Color más claro para el segundo contenido */
    font-size: 12px; /* Tamaño de fuente del contenido adicional */
    text-align: left; /* Alinear el texto a la izquierda */
}

.card-folder {
    width: 180px; /* Ancho del contenedor */
    height: 180px; /* Altura del contenedor */
    position: relative;
    overflow: hidden;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(158, 158, 158);
    cursor: pointer; /* Cambiar el cursor a puntero */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave para el escalado y el color de fondo */
}

.card-folder:hover {
    transform: scale(1.05); /* Escalar la tarjeta al pasar el cursor */
    background-color: rgba(51, 55, 59, 0.9); /* Color de fondo al pasar el cursor */
}

.card-folder-background {
    height: 100%; /* Asegúrate de que el fondo ocupe toda la altura */
    background-position: center;
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar el ícono y el título */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    color: rgba(32, 32, 32, 0.89); /* Color del texto */
}

.folder-icon {
    font-size: 80px; /* Tamaño del ícono */
    color: rgba(207, 207, 207, 0.89); /* Color del ícono */
    margin-bottom: 1px; /* Espaciado inferior para separar el ícono del título */
}

.card-folder-title {
    font-size: 18px; /* Tamaño de fuente del título */
    text-align: center; /* Centrar el texto */
    color: rgba(51, 55, 59, 0.9); /* Color del texto */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    overflow: hidden; /* Ocultar el texto que se desborda */
    text-overflow: ellipsis; /* Agregar "..." al final si se desborda */
    width: 100%; /* Asegúrate de que el contenedor tenga un ancho definido */
}

.card-folder:hover .card-folder-title {
    color: rgba(207, 207, 207, 0.89);
}

.skeleton-card {
    width: 180px; /* Ancho de la tarjeta */
    height: 180px; /* Altura de la tarjeta */
    margin: 10px; /* Espaciado alrededor */
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para simular una Card */
    background-color: #f0f0f0; /* Color de fondo */
  }