/* custom.css */
.ant-menu {
  background-color:rgba(27, 35, 61, 0); !important; /* Cambia el color de fondo del menú */
  width: 290px !important; /* Establece un ancho fijo para el menú */
  border-inline-end: none !important; /* Eliminar la sombra */
}

/* Estilo aplicado a la carpeta seleccionada actualmente */
.anticon{
  color: rgb(0, 162, 255) !important;
}
.ant-menu-submenu-inline{
  margin-left: 2px !important;
}

.selected-folder .ant-menu-submenu-title{
  color: rgba(207, 207, 207, 0.89) !important; /* Cambia el color de fondo de la subcarpeta seleccionada */
}

.selected-folder .ant-menu-title-content{
  color: rgba(207, 207, 207, 0.89) !important; /* Cambia el color de fondo de la subcarpeta seleccionada */
}

.selected-folder {
  background-color: rgba(53, 57, 61, 0.9) !important; /* Cambia el color de fondo de la subcarpeta seleccionada */
}

/* Efecto al pasar el mouse sobre los elementos del submenú */
.ant-menu-item:hover {
  color: rgba(207, 207, 207, 0.89) !important;
  background-color: rgba(51, 55, 59, 0.9) !important; /* Fondo suave al pasar el mouse */
}

.ant-menu-submenu-title:hover{
  color: rgba(207, 207, 207, 0.89) !important;
  background-color: rgba(51, 55, 59, 0.9) !important;
}

/* Estilo para aplicar padding adicional basado en el nivel */
.ant-menu-item.level-1 {
  padding-left: 24px !important; /* Padding para el primer nivel */
}

.ant-menu-item.level-2 {
  padding-left: 50px !important; /* Padding para el segundo nivel */
}

.ant-menu-item.level-3 {
  padding-left: 72px !important; /* Padding para el tercer nivel */
}