/* CardFolder.css */
.card-folder {
    width: 180px; /* Ancho del contenedor */
    height: 180px; /* Altura del contenedor */
    position: relative;
    overflow: hidden;
    background-color: rgba(48, 53, 58, 0.7);
    border: 1px solid rgb(158, 158, 158);
    cursor: pointer; /* Cambiar el cursor a puntero */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave para el escalado y el color de fondo */
}

.card-folder:hover {
    transform: scale(1.05); /* Escalar la tarjeta al pasar el cursor */
    background-color: rgba(51, 55, 59, 0.9); /* Color de fondo al pasar el cursor */
}

.card-folder-background {
    height: 100%; /* Asegúrate de que el fondo ocupe toda la altura */
    background-position: center;
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar el ícono y el título */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    color: rgba(32, 32, 32, 0.89); /* Color del texto */
}

.folder-icon {
    font-size: 80px; /* Tamaño del ícono */
    color: rgba(207, 207, 207, 0.89); /* Color del ícono */
    margin-bottom: 1px; /* Espaciado inferior para separar el ícono del título */
}

.card-folder-title {
    font-size: 18px; /* Tamaño de fuente del título */
    text-align: center; /* Centrar el texto */
    color: rgba(207, 207, 207, 0.89); /* Color del texto */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    overflow: hidden; /* Ocultar el texto que se desborda */
    text-overflow: ellipsis; /* Agregar "..." al final si se desborda */
    width: 100%; /* Asegúrate de que el contenedor tenga un ancho definido */
}