.categories-container {
    width: 280px; /* Establece un ancho fijo para el menú */
    min-width: 280px; /* Establece un ancho mínimo para el menú */
    padding: 5px 6px;
    background-color: transparent /* Color de fondo */
  }
  
  .menu-title {
    font-size: 1.5em; /* Tamaño de fuente para el título */
    margin-bottom: 10px; /* Espaciado inferior */
    color: #1a1a1a; /* Color del texto */
    padding-top: 100px;
    padding-left: 10px;
  }
  
  .categorie-title {
    font-size: 1.5em; /* Tamaño de fuente para el título */
    margin-bottom: 10px; /* Espaciado inferior */
    color: #1a1a1a; /* Color del texto */
    padding-left: 5px;
  }
  
  .category-item {
    display: flex; /* Usar flexbox para alinear ícono y texto */
    align-items: center; /* Centrar verticalmente */
    background-color:rgb(235, 235, 235); /* Color de fondo para cada categoría */
    padding: 9px 16px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espaciado inferior entre elementos */
    transition: background-color 0.3s; /* Transición suave para el hover */
  }
  
  .category-item:hover {
    cursor: pointer;
    background-color: rgba(51, 55, 59, 0.9);
  }

  .category-item:hover .category-text{
    color: rgba(207, 207, 207, 0.89);
  }
  
  .category-icon {
    color: rgb(0, 162, 255);
    margin-right: 8px; /* Espaciado a la derecha del ícono */
    font-size: 0.9em; /* Tamaño del ícono */
  }
  
  .category-text {
    font-size: 0.85em; /* Tamaño de fuente para el texto */
    color: #333; /* Color del texto */
  }

/* Estilos para la barra de desplazamiento en el menú */
.menu-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.menu-container::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la pista de la barra de desplazamiento */
}

.menu-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados para el "pulgar" */
}

.menu-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* Color del "pulgar" al pasar el mouse */
}